{% extends 'base.html' %}
{% block title %}Карьера{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="career">
    <svg xmlns="http://www.w3.org/2000/svg" width="52%" height="495" viewBox="0 0 892 495" fill="none">
        <g filter="url(#filter0_f_161_1410)">
          <path d="M491.573 163.602C305.815 85.7949 139.258 103.06 175.84 15.7245C212.421 -71.6106 758.156 -8.04248 943.914 69.7647C1129.67 147.572 885.11 210.154 848.528 297.489C811.946 384.824 677.33 241.409 491.573 163.602Z" fill="url(#paint0_linear_161_1410)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1410" x="0.755615" y="-196.397" width="1182.07" height="691.179" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="85" result="effect1_foregroundBlur_161_1410"/>
          </filter>
          <linearGradient id="paint0_linear_161_1410" x1="133" y1="105.5" x2="400.929" y2="-280.726" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
      </svg>
    <div class="container">
        <div class="career__title">
            <h1>
                <span>Elysium is a global</span> <br>
                community
            </h1>
            <p>We helped a hundred of customers <br>and shared their story</p>
        </div>
        <div class="career__image">
            <img src={% static "img/images/career.png"%}>
            <div class="g-arrow-bottom">

            </div>
        </div>
    </div>
</section>
<section class="work-with-us">
  <div class="work-with-us__row container">
    <h2 class="work-title">
      Success cases
    </h2>
    <div class="work-info">
      <p><span>Elysium</span> — assisted hundreds of people in overcoming their challenges.</p>
      <p>If any of the following applies to you:</p>
      <ul>
        <li>Feeling like you need a superhero to manage your IT development department.</li>
        <li>Struggling to find enough hours in the day to complete your work, due to long hours wasted to solve complicated IT issues.</li>
        <li>Frustration with the increasing IT demands of your business.</li>
        <li>Finding your business more stressful than rewarding.</li>
        <li>Lying awake at night, thinking that the life you dreamed of will start later.</li>
        <li>In addition, watching money leave your company faster than it comes in.</li>
      </ul>
      <p style="margin-top:40px;">Then you've come to the <span>right place.</span></p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="981" height="570" viewBox="0 0 981 570" fill="none">
    <g filter="url(#filter0_f_161_1409)">
      <path d="M355.353 463.438C543.175 536.122 720.955 483.91 672.911 608.059C624.868 732.208 55.2978 741.247 -132.524 668.563C-320.345 595.879 -55.2945 468.996 -7.25086 344.847C40.7927 220.698 167.532 390.754 355.353 463.438Z" fill="url(#paint0_linear_161_1409)"/>
    </g>
    <defs>
      <filter id="filter0_f_161_1409" x="-498.971" y="0.771484" width="1479.83" height="1013.68" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1409"/>
      </filter>
      <linearGradient id="paint0_linear_161_1409" x1="-216" y1="636.259" x2="52.2096" y2="227.779" gradientUnits="userSpaceOnUse">
        <stop stop-color="#58FFF8"/>
        <stop offset="0.531732" stop-color="#7AAEFC"/>
        <stop offset="1" stop-color="#9867FF"/>
      </linearGradient>
    </defs>
  </svg>
</section>
<section class="clients">
  <div class="container">
      <svg xmlns="http://www.w3.org/2000/svg" width="1519" height="928" viewBox="0 0 1519 928" fill="none">
          <g filter="url(#filter0_f_161_1122)">
            <path d="M1015.85 387.816C1213.32 464.231 1241.08 486.804 1205.53 578.674C1169.98 670.545 595.213 617.914 397.748 541.499C200.284 465.083 340.98 378.249 490.45 301.949C625.165 295.333 818.387 311.4 1015.85 387.816Z" fill="url(#paint0_linear_161_1122)"/>
          </g>
          <defs>
            <filter id="filter0_f_161_1122" x="0.558105" y="0.601562" width="1518.17" height="926.833" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1122"/>
            </filter>
            <linearGradient id="paint0_linear_161_1122" x1="309.987" y1="507.536" x2="491.517" y2="190.061" gradientUnits="userSpaceOnUse">
              <stop stop-color="#58FFF8"/>
              <stop offset="0.531732" stop-color="#7AAEFC"/>
              <stop offset="1" stop-color="#9867FF"/>
            </linearGradient>
          </defs>
        </svg>
      <div class="clients__title">
          <h2>Our clients<br>
              and real friends</h2>
          <img src={% static "img/icons/arrow-left-bottom.svg"%} alt="#">
      </div>
  </div>
  <div class="clients__swiper swiper-client">
      <div class="swiper-wrapper swiper-client__container container">
          <div class="swiper-slide swiper-client-item">
            <img src={% static "img/images/director.png"%}>
          </div>
          <div class="swiper-slide swiper-client-item">
            <img src={% static "img/images/director.png"%}>
          </div>
          <div class="swiper-slide swiper-client-item">
            <img src={% static "img/images/director.png"%}>
          </div>
          <div class="swiper-slide swiper-client-item">
            <img src={% static "img/images/director.png"%}>
          </div>
          <div class="swiper-slide swiper-client-item">
            <img src={% static "img/images/director.png"%}>
          </div>
      </div>
      <div class="swiper-client__scrollbar container" id="connection_form">
          <div class="swiper-scrollbar">
          </div>
      </div>
  </div>
</section>
<section class="perfomance">
  <div class="container">
    <h2>
      Elysium is more than just a <span>company</span>
    </h2>
    <p>
      Get a unique opportunity to solve your issue.
    </p>
    <div class="perfomance__arrow g-arrow-bottom">

    </div>
    <img class="perfomance__img01 perfomance__img" src={% static "img/images/perfomance/01.png"%}>
    <img class="perfomance__img02 perfomance__img" src={% static "img/images/perfomance/02.png"%}>
    <img class="perfomance__img03 perfomance__img" src={% static "img/images/perfomance/03.png"%}>
    <img class="perfomance__img04 perfomance__img" src={% static "img/images/perfomance/04.png"%}>
    <img class="perfomance__img05 perfomance__img" src={% static "img/images/perfomance/05.png"%}>
    <img class="perfomance__img06 perfomance__img" src={% static "img/images/perfomance/06.png"%}>
  </div>
</section>
<section class="form-one">
  <div class="form-one__row container">
      <div class="information-column">
          <div class="information-column__header">
              <h2 id="info__header">Let us help you, <br>
                  tell your worries?</h2>
              <p id="info__paragraph">Sign up for a FREE consultation and receive site optimization instructions powered by our BEST specialists.</p>
              <p>If we won't resolve your issue - you owe us nothing.</p>
          </div>
          <div class="information-column__footer">
              <div class="social">
                  <a href="#"> <img src={% static "img/icons/Instagram.svg"%} alt="#"> </a>
                  <a href="https://t.me/ArtemSheptalin"> <img src={% static "img/icons/Telegram.svg"%} alt="#"> </a>
              </div>
          </div>
      </div>


      <form class="form-column" method='POST' id="career__form">
          {% csrf_token %} 
          {{ form.first_name | add_class:"form-column" }}
          <div id="first_name_error"></div>
          {{ form.email | add_class:"form-column" }}
          <div id="email_error"></div>
          {{ form.message | add_class:"form-column" }}
          <div id="message_error"></div>
          <div class="form-column__footer">
              <button class="g-anim-button" type="submit" id="form_btn">
                  <span>Share my anxiety</span>
                  <img src={% static "img/icons/arrow-right.svg"%}>
              </button>
              <p>By clicking the button, you agree
                  <a href="#">with the privacy policy of Elysium.</a></p>
          </div>
      </form>


  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="1876" height="1052" viewBox="0 0 1876 1052" fill="none">
      <g filter="url(#filter0_f_161_1141)">
        <path d="M1281.46 437.933C1564.65 547.525 1605.05 578.42 1559.17 696.976C1513.29 815.531 697.197 718.832 414.001 609.24C130.806 499.648 325.753 392.769 533.631 300.108C723.991 297.962 998.263 328.341 1281.46 437.933Z" fill="url(#paint0_linear_161_1141)"/>
      </g>
      <defs>
        <filter id="filter0_f_161_1141" x="-27.6538" y="0.00354004" width="1902.91" height="1051.3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1141"/>
        </filter>
        <linearGradient id="paint0_linear_161_1141" x1="288.137" y1="560.532" x2="516.773" y2="146.522" gradientUnits="userSpaceOnUse">
          <stop stop-color="#58FFF8"/>
          <stop offset="0.531732" stop-color="#7AAEFC"/>
          <stop offset="1" stop-color="#9867FF"/>
        </linearGradient>
      </defs>
  </svg>
</section>
<script src={% static "js/career.js"%}></script>
{% endblock %}