{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Идея Elysium{% endblock %}
{% block content %}
<section class="idea-preview">
    <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="589" viewBox="0 0 874 589" fill="none">
        <g filter="url(#filter0_f_161_1494)">
          <path d="M546.072 407.681C317.087 407.681 150 486.838 150 393.466C150 300.094 750.244 150 979.229 150C1208.21 150 979.229 300.094 979.229 393.466C979.229 486.838 775.057 407.681 546.072 407.681Z" fill="url(#paint0_linear_161_1494)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1494" x="-3.8147e-06" y="0" width="1231" height="589" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur_161_1494"/>
          </filter>
          <linearGradient id="paint0_linear_161_1494" x1="102.201" y1="555" x2="69.8566" y2="215.63" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
      </svg>
    <div class="container">
        <h1><span>Elysium —</span> <br>
            it's a promise</h1>
        <p>we make you and commit to fulfill</p>
        <div class="idea-preview__arrow g-arrow-bottom">
        </div>
    </div>
</section>
<section class="founder">
    <div class="founder__image">
        <img src={% static "img/images/director.png"%}>
    </div>
    <div class="founder__text text-founder">
        <div class="container">
            <p class="text-founder__subtitle">Founder and CEO of Elysium</p>
            <h2>Artem Sheptalin</h2>
            <div class="text-founder__text about-company">
                <p>
                    A lot of businesses persons wake up in the morning and the first thing they do is thinking how to make more money? How I can sell something? How we can get into account? How we can create growth? How we can bring enough money to pay the bills? <span>Hardly anyone wakes up in the morning and thinks how to get more autonomy.</span>
                </p>
                <p>
                    Does your business enable you to effectively manage your life rather than constantly consuming your time? Do your organization’s managers spend an inordinate amount of time debating the accuracy of demands and costs being provided to support IT decisions? Or you have observed a lack of skilled specialists who can provide top-notch IT solutions which save your time and money?
                </p>
                
                <p>
                    Congratulations! You've come to the right place. We’re here to assist you in navigating through challenges, finding solutions, leading to your business blossoming, and ensuring that your technology operates smoothly and efficiently.
                    <br>
                </p>
                <p>You deserve more than you have. Let us help you to prosper with IT technologies.</p>
                
                <p>Click the link below to receive a FREE<a style="text-decoration: underline; color: #9867FF;"  onmouseover="this.style.textDecoration='none'" onmouseout="this.style.textDecoration='underline'" href="{% url 'main_page' %}#connection_form"> consultation with my BEST IT Business Expert and get your Web Site Optimization Instructions</a> powered by my BEST specialists.</p>
                <div class="about-company__img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 88 88" fill="none">
                        <path d="M50.2856 6.28564V44H75.4285C75.4285 57.8635 64.1491 69.1428 50.2856 69.1428V81.7143C71.0826 81.7143 88 64.7969 88 44V6.28564H50.2856Z" fill="#151515"/>
                        <path d="M0 44H25.1428C25.1428 57.8635 13.8635 69.1428 0 69.1428V81.7143C20.7969 81.7143 37.7143 64.7969 37.7143 44V6.28564H0V44Z" fill="#151515"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="target">
    <div class="container">
        <div class="target-text">
            <p class="target-text__main">Our inspiration stems from our clients success and effectiveness.</p>
            <div class="target-text__description">
                <p>Our community strives to create an Elysium, or heaven, for businesses.
                <p>Our goal is to provide top-notch technological solutions that elevate you to new heights, ensuring seamless operations and unparalleled efficiency.</p>
                <p>Just as Elysium represents a place of ultimate bliss and contentment, we aim to deliver services that bring you the utmost satisfaction and success.</p>
            </div>
        </div>
        <div class="target-slogan">
            <img src={% static "img/icons/target.png"%}>
            <div class="target-slogan__text">
                What does that mean for you?
            </div>
        </div>
        <div class="target-character">
            <div class="target-character__title">
                <h3>Some of the results<br>you will get</h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M40 4.71185L40 40L4.73801 40L4.73801 33.9419L29.6439 33.9419L-1.86838e-07 4.27435L4.30832 -1.56013e-06L33.9203 29.6357L33.9203 4.71185L40 4.71185Z" fill="#907AFE"/>
                </svg>
            </div>
            <div class="target-character__row character">
                <div class="character__item">
                    <span>1. Saved time and money</span>
                </div>
                <div class="character__item">
                    <span>2. Permanent access to our specialists and tools</span>
                </div>
                <div class="character__item">
                    <span>3. Increased productivity </span>
                </div>
                <div class="character__item">
                    <span>4. Risk prevention</span>
                </div>
                <div class="character__item">
                    <span>5. Reduced management burden </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <svg xmlns="http://www.w3.org/2000/svg" width="853" height="712" viewBox="0 0 853 712" fill="none">
        <g filter="url(#filter0_f_161_1493)">
          <path d="M758 504.001C433.092 504.001 200 463.612 200 330.501C200 197.389 390.092 200.5 715 200.5C1039.91 200.5 985.5 284.389 985.5 417.501C985.5 550.613 1082.91 504.001 758 504.001Z" fill="url(#paint0_linear_161_1493)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1493" x="-0.000494003" y="0.494141" width="1199.19" height="711.415" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_161_1493"/>
          </filter>
          <linearGradient id="paint0_linear_161_1493" x1="928.5" y1="284" x2="879.349" y2="525.646" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
      </svg>
    <div class="container">
        <div class="reviews__title">
            <h2>
                <span>Real help</span><br>
                for real people
            </h2>
        </div>
        <div class="reviews__row">
            <div class="review-item">
                <img class="review-item__image" src={% static "img/images/reviews/01.png"%}>
                <p class="review-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
                    Результаты превзошли все наши ожидания,
                    и мы очень довольны итоговым продуктом»
                </p>
                <div class="review-item-foot">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <div class="review-item-foot__name">
                        <span>Андрей</span>
                        <p>руководитель фирмы «Google»</p>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <img class="review-item__image" src={% static "img/images/reviews/02.png"%}>
                <p class="review-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
                    Результаты превзошли все наши ожидания,
                    и мы очень довольны итоговым продуктом»
                </p>
                <div class="review-item-foot">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <div class="review-item-foot__name">
                        <span>Андрей</span>
                        <p>руководитель фирмы «Google»</p>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <img class="review-item__image" src={% static "img/images/reviews/03.png"%}>
                <p class="review-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
                    Результаты превзошли все наши ожидания,
                    и мы очень довольны итоговым продуктом»
                </p>
                <div class="review-item-foot">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <div class="review-item-foot__name">
                        <span>Андрей</span>
                        <p>руководитель фирмы «Google»</p>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <img class="review-item__image" src={% static "img/images/reviews/04.png"%}>
                <p class="review-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
                    Результаты превзошли все наши ожидания,
                    и мы очень довольны итоговым продуктом»
                </p>
                <div class="review-item-foot">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <div class="review-item-foot__name">
                        <span>Андрей</span>
                        <p>руководитель фирмы «Google»</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="form-one">
    <div class="form-one__row container">
        <div class="information-column">
            <div class="information-column__header">
                <h2 id="info__header">Let us help you, <br>
                    tell your worries?</h2>
                <p id="info__paragraph">Sign up for a FREE consultation with IT Business Expert and receive Web Site Optimization Instructions powered by our BEST specialists.</p>
                <p>And if we don't find a solution - you owe us nothing</p>

            </div>
            <div class="information-column__footer">
                <div class="social">
                    <a href="https://www.instagram.com/nnhufg?igsh=c2tiMDVtaHJ6d3My&utm_source=qr"> <img src={% static "img/icons/Instagram.svg"%} alt="#"> </a>
                    <a href="https://t.me/ArtemSheptalin"> <img src={% static "img/icons/Telegram.svg"%} alt="#"> </a>
                </div>
            </div>
        </div>


        <form class="form-column" method='POST' id="idea__form">
            {% csrf_token %} 
            {{ form.first_name | add_class:"form-column" }}
            <div id="first_name_error"></div>
            {{ form.email | add_class:"form-column" }}
            <div id="email_error"></div>
            {{ form.message | add_class:"form-column" }}
            <div id="message_error"></div>
            <div class="form-column__footer">
                <button class="g-anim-button" type="submit" id="form_btn">
                    <span>Share my anxiety</span>
                    <img src={% static "img/icons/arrow-right.svg"%}>
                </button>
                <p>By clicking the button, you agree
                    <a href="#">with the privacy policy of Elysium.</a></p>
            </div>
        </form>


    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1876" height="1052" viewBox="0 0 1876 1052" fill="none">
        <g filter="url(#filter0_f_161_1141)">
          <path d="M1281.46 437.933C1564.65 547.525 1605.05 578.42 1559.17 696.976C1513.29 815.531 697.197 718.832 414.001 609.24C130.806 499.648 325.753 392.769 533.631 300.108C723.991 297.962 998.263 328.341 1281.46 437.933Z" fill="url(#paint0_linear_161_1141)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1141" x="-27.6538" y="0.00354004" width="1902.91" height="1051.3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1141"/>
          </filter>
          <linearGradient id="paint0_linear_161_1141" x1="288.137" y1="560.532" x2="516.773" y2="146.522" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
    </svg>
</section>
<script src={% static "js/idea.js"%}></script>
{% endblock %}