{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Elysium | Software Development Community{% endblock %}
{% block content %}

<section class="video">
    <div class="video__row container">
        <h2><span>Creating Results</span>  <br>
            That Matter </h2>
        <img src={% static "img/images/robot.jpg"%}>
    </div>
</section>
<section class="welcome">
    <a href="{% url 'main_page' %}#connection_form" class="welcome-button">
        Contact me
        <div class="welcome-button__arrow">
            <img src={% static "img/icons/arrow.svg"%}>
        </div>
    </a>

    <div class="running-row">
        <div class="marquee">
            <div class="marquee-content">
                <div class="marquee-content__item">
                    <p>10M</p>
                    <span>saved by<br>
                        utilizing our solutions</span>
                </div>
                <div class="marquee-content__item">
                    <p>360°</p>
                    <span>a comprehensive<br>
                    approach to a problem</span>
                </div>
                <div class="marquee-content__item">
                    <p>3x</p>
                    <span>acceleration in<br> buisness process</span>
                </div>
                <div class="marquee-content__item">
                    <p>100%</p>
                    <span>satisfied partners</span>
                </div>
                <div class="marquee-content__item">
                    <p>5k</p>
                    <span>hours of experience <br>
                        with IT technologies</span>
                </div>
                <div class="marquee-content__item">
                    <p>63%</p>
                    <span>an average<br> revenue growth</span>
                </div>
                <div class="marquee-content__item">
                    <p>5.0</p>
                    <span>endorsements  <br>
                        from past clients </span>
                </div> 
                <div class="marquee-content__item">
                    <p>30%</p>
                    <span> improved operational <br>
                        efficiency</span>
                </div>
            </div>
            <div class="marquee-content">
                <div class="marquee-content__item">
                    <p>10M</p>
                    <span>saved by<br>
                        utilizing our solutions</span>
                </div>
                <div class="marquee-content__item">
                    <p>360°</p>
                    <span>a comprehensive<br>
                    approach to a problem</span>
                </div>
                <div class="marquee-content__item">
                    <p>3x</p>
                    <span>acceleration in<br> buisness process</span>
                </div>
                <div class="marquee-content__item">
                    <p>100%</p>
                    <span>satisfied partners</span>
                </div>
                <div class="marquee-content__item">
                    <p>5k</p>
                    <span>hours of experience <br>
                        with IT technologies</span>
                </div>
                <div class="marquee-content__item">
                    <p>63%</p>
                    <span>an average<br> revenue growth</span>
                </div>
                <div class="marquee-content__item">
                    <p>5.0</p>
                    <span>endorsements  <br>
                        from past clients </span>
                </div> 
                <div class="marquee-content__item">
                    <p>30%</p>
                    <span> improved operational <br>
                        efficiency</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="welcome__spot">
        <svg xmlns="http://www.w3.org/2000/svg" width="1190" height="856" viewBox="0 0 1190 856" fill="none">
            <g filter="url(#filter0_f_161_1183)">
              <path d="M637.687 381.294C835.151 457.709 1022.06 402.816 971.548 533.339C921.038 663.862 322.226 673.365 124.762 596.949C-72.7024 520.534 205.956 387.136 256.466 256.614C306.977 126.091 440.223 304.878 637.687 381.294Z" fill="url(#paint0_linear_161_1183)"/>
            </g>
            <defs>
              <filter id="filter0_f_161_1183" x="-155.097" y="0.275391" width="1345" height="854.917" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="105" result="effect1_foregroundBlur_161_1183"/>
              </filter>
              <linearGradient id="paint0_linear_161_1183" x1="37" y1="562.987" x2="318.98" y2="133.536" gradientUnits="userSpaceOnUse">
                <stop stop-color="#58FFF8"/>
                <stop offset="0.531732" stop-color="#7AAEFC"/>
                <stop offset="1" stop-color="#9867FF"/>
              </linearGradient>
            </defs>
          </svg>
    </div>
    <h2>
        <span>Tailored approach </span> <br> and unconventional thinking
    </h2>
</section>

<section class="about">
    <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="70%" viewBox="0 0 1388 916" fill="none">
        <g filter="url(#filter0_f_161_1235)">
          <path d="M788.022 405.133C1012.88 492.15 1225.72 429.642 1168.2 578.272C1110.68 726.903 428.797 737.724 203.938 650.707C-20.9218 563.69 296.396 411.787 353.914 263.156C411.431 114.525 563.163 318.116 788.022 405.133Z" fill="url(#paint0_linear_161_1235)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1235" x="-85.6133" y="0.388916" width="1473.33" height="915.255" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="105" result="effect1_foregroundBlur_161_1235"/>
          </filter>
          <linearGradient id="paint0_linear_161_1235" x1="104" y1="612.033" x2="425.1" y2="123.003" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
    </svg>
    <div class="container">
        <div class="about__row about-elysium">
            <h2>About Elysium</h2>
            <div class="about-elysium__text">
                {% comment %} <p><span>Elysium</span> is an innovation-driven community that uses effective strategies to prioritize customer requests. We're interested in IDENTIFYING, PRIORITIZING AND ADDRESSING YOUR NEEDS.</p> {% endcomment %}
                <p>At Elysium, we genuinely care about the problems our customers are facing and are committed to sincerely helping them find the best solutions. Our community believes in building strong relationships with our clients and taking the time to truly understand their unique challenges. By approaching our work with a sincere desire to help, we can provide IT services that not only meet the technical requirements but also address your real concerns and goals. We prioritize building strong relationships, focusing on trust, transparency, and collaboration to achieve shared goals.
                </p>
                
                    
                <p>Welcome to Elysium, where your challenges hold paramount importance.
                </p>
            </div>
        </div>
        <div class="about__image">
            <img src={% static "img/images/man.jpg"%}>
        </div>
        <h3>
            Genuinely and attentively<br><span> caring your needs</span>

            {% comment %} Witness the beauty <br> of a seamless operation <br><span> with our expert assistance</span> {% endcomment %}
        </h3>
    </div>
</section>
<section class="clients">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="1519" height="928" viewBox="0 0 1519 928" fill="none">
            <g filter="url(#filter0_f_161_1122)">
              <path d="M1015.85 387.816C1213.32 464.231 1241.08 486.804 1205.53 578.674C1169.98 670.545 595.213 617.914 397.748 541.499C200.284 465.083 340.98 378.249 490.45 301.949C625.165 295.333 818.387 311.4 1015.85 387.816Z" fill="url(#paint0_linear_161_1122)"/>
            </g>
            <defs>
              <filter id="filter0_f_161_1122" x="0.558105" y="0.601562" width="1518.17" height="926.833" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1122"/>
              </filter>
              <linearGradient id="paint0_linear_161_1122" x1="309.987" y1="507.536" x2="491.517" y2="190.061" gradientUnits="userSpaceOnUse">
                <stop stop-color="#58FFF8"/>
                <stop offset="0.531732" stop-color="#7AAEFC"/>
                <stop offset="1" stop-color="#9867FF"/>
              </linearGradient>
            </defs>
          </svg>
        <div class="clients__title">
            <h2>Client<br>
                testimonial</h2>
            <img src={% static "img/icons/arrow-left-bottom.svg"%} alt="#">
        </div>
    </div>
    <div class="clients__swiper swiper-client">
        <div class="swiper-wrapper swiper-client__container container">
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Хочу отметить профессионализм и эффективность работы команды. Каждый этап проекта был организован и выполнен в срок»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-client__scrollbar container" id="connection_form">
            <div class="swiper-scrollbar">
            </div>
        </div>
    </div>
</section>

<section class="form-one">
    <div class="form-one__row container">
        <div class="information-column">
            <div class="information-column__header">
                <h2 id="info__header">Let us help you, <br>
                    tell your worries?</h2>
                <p id="info__paragraph">Sign up for a FREE consultation and receive site optimization instructions powered by our BEST specialists.</p>
                <p>If we won't resolve your issue - you owe us nothing.</p>

            </div>
            <div class="information-column__footer">
                <div class="social">
                    <a href="https://www.instagram.com/nnhufg?igsh=c2tiMDVtaHJ6d3My&utm_source=qr"> <img src={% static "img/icons/Instagram.svg"%} alt="#"> </a>
                    <a href="https://t.me/ArtemSheptalin"> <img src={% static "img/icons/Telegram.svg"%} alt="#"> </a>
                </div>
            </div>
        </div>


        <form class="form-column" method='POST' id="index__form">
            {% csrf_token %} 
            {{ form.first_name | add_class:"form-column" }}
            <div id="first_name_error"></div>
            {{ form.email | add_class:"form-column" }}
            <div id="email_error"></div>
            {{ form.message | add_class:"form-column" }}
            <div id="message_error"></div>
            <div class="form-column__footer">
                <button class="g-anim-button" type="submit" id="form_btn">
                    <span>Share my anxiety</span>
                    <img src={% static "img/icons/arrow-right.svg"%}>
                </button>
                <p>By clicking the button, you agree
                    <a href="#">with the privacy policy of Elysium.</a></p>
            </div>
        </form>


    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1876" height="1052" viewBox="0 0 1876 1052" fill="none">
        <g filter="url(#filter0_f_161_1141)">
          <path d="M1281.46 437.933C1564.65 547.525 1605.05 578.42 1559.17 696.976C1513.29 815.531 697.197 718.832 414.001 609.24C130.806 499.648 325.753 392.769 533.631 300.108C723.991 297.962 998.263 328.341 1281.46 437.933Z" fill="url(#paint0_linear_161_1141)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1141" x="-27.6538" y="0.00354004" width="1902.91" height="1051.3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1141"/>
          </filter>
          <linearGradient id="paint0_linear_161_1141" x1="288.137" y1="560.532" x2="516.773" y2="146.522" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
    </svg>
</section>
<script src={% static "js/index.js"%}></script>
{% endblock %}
