{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Elysium | Software Development Community{% endblock %}
{% block content %}

{% comment %} <section class="video">
    <div class="video__row container">
        <h2>Which of these IT tools <br>
            will drive growth <br>for YOUR business?</h2>

        <img src={% static "img/images/robot.jpg"%}>
    </div>
</section> {% endcomment %}

<section class="welcome">
    <h2>
        Which of these IT tools<br><span> will drive growth for YOUR business?</span>
    </h2>
    <a href="{% url 'main_page' %}#connection_form" class="welcome-button">
        Get This Quiz
        <div class="welcome-button__arrow">
            <img src={% static "img/icons/arrow.svg"%}>
        </div>
    </a>
</section>

<section class="about">
    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="70%" viewBox="0 0 1388 916" fill="none">
        <g filter="url(#filter0_f_161_1235)">
          <path d="M788.022 405.133C1012.88 492.15 1225.72 429.642 1168.2 578.272C1110.68 726.903 428.797 737.724 203.938 650.707C-20.9218 563.69 296.396 411.787 353.914 263.156C411.431 114.525 563.163 318.116 788.022 405.133Z" fill="url(#paint0_linear_161_1235)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1235" x="-85.6133" y="0.388916" width="1473.33" height="915.255" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="105" result="effect1_foregroundBlur_161_1235"/>
          </filter>
          <linearGradient id="paint0_linear_161_1235" x1="104" y1="612.033" x2="425.1" y2="123.003" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
    </svg> {% endcomment %}
    <div class="container">
        <div class="about__row about-elysium">
            <h2>Do you feel the satisfaction of how your business running?</h2>
            <div class="about-elysium__text">
                <p> 
                    As you explore this website, keep in mind that many entrepreneurs are not in control of their businesses; rather, their businesses control them. Consequently, they work for their business, rather than it works for them. However, there is a way to reverse the situation.
                </p>
                <p>
                    Our community understands that entrepreneurs are typically responsible for every aspect of their business, from strategic decision-making and financial management to customer relations and operational tasks. This level of responsibility can be all-encompassing, leaving little time for personal pursuits. We appreciate those who are passionate about their ventures and are dedicated to seeing them succeed. We understand that this passion can drive you to work tirelessly, often at the expense of personal time and main goals. So, here we provide you with technological solutions that would work for YOU. 
                </p>
                <p>
                    Elysium is an IT company that specializes in innovative IT solutions that allow our clients to expand the scope of their activities, and save time and resources to be focused on their core tasks. Welcome to Elysium, where your challenges hold paramount importance.
                </p>
                <p>
                    <a href="{% url 'main_page' %}#connection_form">Fill out the form below</a> and take control of both your business and your life.
                </p>
                
            </div>
        </div>
        <div class="about__image">
            <img src={% static "img/images/man.jpg"%}>
        </div>
        <h3>
            Do you feel undervalued?<br> <span>Check our clients experience</span>
        </h3>
        
    </div>
</section>
<section class="clients">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="1519" height="928" viewBox="0 0 1519 928" fill="none">
            <g filter="url(#filter0_f_161_1122)">
              <path d="M1015.85 387.816C1213.32 464.231 1241.08 486.804 1205.53 578.674C1169.98 670.545 595.213 617.914 397.748 541.499C200.284 465.083 340.98 378.249 490.45 301.949C625.165 295.333 818.387 311.4 1015.85 387.816Z" fill="url(#paint0_linear_161_1122)"/>
            </g>
            <defs>
              <filter id="filter0_f_161_1122" x="0.558105" y="0.601562" width="1518.17" height="926.833" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1122"/>
              </filter>
              <linearGradient id="paint0_linear_161_1122" x1="309.987" y1="507.536" x2="491.517" y2="190.061" gradientUnits="userSpaceOnUse">
                <stop stop-color="#58FFF8"/>
                <stop offset="0.531732" stop-color="#7AAEFC"/>
                <stop offset="1" stop-color="#9867FF"/>
              </linearGradient>
            </defs>
          </svg>
        <div class="clients__title">
            <h2>Client<br>
                testimonial</h2>
            <img src={% static "img/icons/arrow-left-bottom.svg"%} alt="#">
        </div>
    </div>
    <div class="clients__swiper swiper-client">
        <div class="swiper-wrapper swiper-client__container container">
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Хочу отметить профессионализм и эффективность работы команды. Каждый этап проекта был организован и выполнен в срок»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-client-item">
                <p class="swiper-client-item__comment">
                    «Я хотел бы выразить огромную благодарность команде за выполнение нашего проекта.
        Результаты превзошли все наши ожидания, и мы очень довольны итоговым продуктом»
                </p>
                <div class="swiper-client-item__persona">
                    <img src={% static "img/avatar/andrey.png"%}>
                    <p>
                        Андрей <br/>
                        <span>руководитель фирмы «Google»</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-client__scrollbar container" id="connection_form">
            <div class="swiper-scrollbar">
            </div>
        </div>
    </div>
</section>

<section class="form-one">
    <div class="form-one__row container">
        <div class="information-column">
            <div class="information-column__header">
                <h2 id="info__header">Let us help you, <br>
                    tell your worries?</h2>
                <p id="info__paragraph">Sign up for a FREE consultation with our Expert and receive Web Site Optimization Instructions powered by our specialists.</p>
                <p>And if we don't find a solution - you owe us nothing</p>

            </div>
            <div class="information-column__footer">
                <div class="social">
                    <a href="https://www.instagram.com/nnhufg?igsh=c2tiMDVtaHJ6d3My&utm_source=qr"> <img src={% static "img/icons/Instagram.svg"%} alt="#"> </a>
                    <a href="https://t.me/ArtemSheptalin"> <img src={% static "img/icons/Telegram.svg"%} alt="#"> </a>
                </div>
            </div>
        </div>


        <form class="form-column" method='POST' id="index__form">
            {% csrf_token %} 
            {{ form.first_name | add_class:"form-column" }}
            <div id="first_name_error"></div>
            {{ form.email | add_class:"form-column" }}
            <div id="email_error"></div>
            {{ form.message | add_class:"form-column" }}
            <div id="message_error"></div>
            <div class="form-column__footer">
                <button class="g-anim-button" type="submit" id="form_btn">
                    <span>Share my anxiety</span>
                    <img src={% static "img/icons/arrow-right.svg"%}>
                </button>
                <p>By clicking the button, you agree
                    <a href="#">with the privacy policy of Elysium.</a></p>
            </div>
        </form>


    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1876" height="1052" viewBox="0 0 1876 1052" fill="none">
        <g filter="url(#filter0_f_161_1141)">
          <path d="M1281.46 437.933C1564.65 547.525 1605.05 578.42 1559.17 696.976C1513.29 815.531 697.197 718.832 414.001 609.24C130.806 499.648 325.753 392.769 533.631 300.108C723.991 297.962 998.263 328.341 1281.46 437.933Z" fill="url(#paint0_linear_161_1141)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1141" x="-27.6538" y="0.00354004" width="1902.91" height="1051.3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_161_1141"/>
          </filter>
          <linearGradient id="paint0_linear_161_1141" x1="288.137" y1="560.532" x2="516.773" y2="146.522" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
    </svg>
</section>
<script src={% static "js/index.js"%}></script>
{% endblock %}
