{% extends 'base.html' %}
{% load static %}
{% block title %}Портфолио{% endblock %}
{% block content %}
<section class="news">
    <div class="container">
        <h2>Elysium achievements</h2>
        <div class="news__content content-news">
            <div class="content-news__tabs" id="button__header">

                <form method="GET" class="form__btn">
                    <button id="all_filter" class="btn white"  name="development" value="development">Development</button>
                </form>
                
                <form method="GET" class="form__btn">
                    <button id="development_filter" class="btn white" name="intelligence" value="intelligence">Artificial Intelligence</button>
                </form>

                <form method="GET" class="form__btn">
                    <button id="analysis_filter" class="btn white"  name="analysis" value="analysis">Data Analysis</button>
                </form> 

                <form method="GET" class="form__btn">
                    <button id="optimization_filter" class="btn white" name="optimization" value="optimization">Products Optimization</button>
                </form>
                
            </div>
            
            <div class="content-news__news">                
                
                
                {% if projects == '' %}
                    <p class="lack__projects">We are diligently working on projects of this category, soon we will share our developments!</p>
                        
                {% else %}
                    {% for project in projects %}
                        <div class="news-item">
                                <a href=""></a>
                                <div class="news-item-top">
                                    <img class="news-item-top__image" src={% static "img/images/autophoto.png"%}>
                                    <span class="news-item-top__data">
                                        05.03.2024
                                    </span>
                                    <p class="news-item-top__title">
                                        {{ project.title }}
                                    </p>
                                </div>
                                <div class="news-item-bottom">
                                    <p class="white">{{ project.category }}</p>
                                    <div class="news-item-bottom__arrow"><img src={% static "img/icons/arrow.svg"%}></div>
                                </div>
                            </div>
                    {% endfor %}      
                {% endif %}
                
                
            </div>
            {% comment %} <section class="perfomance idea__perfomance">
                <div class="container">
                  <h2>
                    <span>Let's Get Social</span>
                  </h2>
                  <p>
                    Follow us on Facebook and Telegram to stay in touch, and get the latest updates, news and messages as we continue to share the best IT practices and strategies that work for our clients, in hopes that it can help you succeed as well.
                  </p>
                  <div class="information-column">
                    <div class="information-column__footer">
                        <div class="social social__idea">
                            <a href="https://www.instagram.com/nnhufg?igsh=c2tiMDVtaHJ6d3My&utm_source=qr"> <img src={% static "img/icons/Instagram.svg"%} alt="#"> </a>
                            <a href="https://t.me/ArtemSheptalin"> <img src={% static "img/icons/Telegram.svg"%} alt="#"> </a>
                        </div>
                    </div>
                </div>
                  <img class="perfomance__img01 perfomance__img" src={% static "img/images/perfomance/01.png"%}>
                  <img class="perfomance__img02 perfomance__img" src={% static "img/images/perfomance/02.png"%}>
                  <img class="perfomance__img03 perfomance__img" src={% static "img/images/perfomance/03.png"%}>
                  <img class="perfomance__img04 perfomance__img" src={% static "img/images/perfomance/04.png"%}>
                  <img class="perfomance__img05 perfomance__img" src={% static "img/images/perfomance/05.png"%}>
                  <img class="perfomance__img06 perfomance__img" src={% static "img/images/perfomance/06.png"%}>
                </div>
                
              </section> {% endcomment %}
            <div class="content-news__pagination news-pagination">
                {% if page_obj.has_previous %}
                <div class="news-pagination__arrow">
                    <a href="?page={{ page_obj.previous_page_number }}" class="right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.078 0L17 8.00297L9.08387 16L7.72387 14.6261L13.3151 8.97771L0 8.97234L0.00762667 7.02589L13.3084 7.03125L7.71315 1.3788L9.078 0Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                {% endif %}
                
                {% if page_obj.paginator.num_pages > 1 %}
                    <ul class="news-pagination__pages">
                        {% for num in page_obj.paginator.page_range %}
                            <li {% if page_obj.number == num %}class="active"{% endif %}>
                                <a href="?page={{ num }}">
                                    <span>{{ num }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}


                {% if page_obj.has_next %}
                <div class="news-pagination__arrow">
                    <a href="?page={{ page_obj.next_page_number }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.078 0L17 8.00297L9.08387 16L7.72387 14.6261L13.3151 8.97771L0 8.97234L0.00762667 7.02589L13.3084 7.03125L7.71315 1.3788L9.078 0Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}