{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Услуги{% endblock %}
{% block content %}
<section class="services" style="margin-top: 40px;">
    <div class="container">
        <h1>We implement strategies  <br><span>that help grow your business</span></br></h1>
        <div class="services__row ability">
            <div class="ability-item">
                <div class="ability-item__image">
                    <img src={% static "img/icons/ability/01.svg"%}>
                </div>
                <p>Development <br>
                    and maintaining</p> 
            </div>
            <div class="ability-item">
                <div class="ability-item__image">
                    <img src={% static "img/icons/ability/02.svg"%}>
                </div>
                <p>Artificial <br>
                    Intelligence</p> 
            </div>
            <div class="ability-item">
                <div class="ability-item__image">
                    <img src={% static "img/icons/ability/03.svg"%}>
                </div>
                <p>Finance Risk <br> Management</p> 
            </div>
            <div class="ability-item">
                <div class="ability-item__image">
                    <img src={% static "img/icons/ability/04.svg"%}>
                </div>
                <p>Marketing <br> Analysis</p> 
            </div>
            <div class="ability-item">
                <div class="ability-item__image">
                    <img src={% static "img/icons/ability/05.svg"%}>
                </div>
                <p>Products <br>Optimization</p> 
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="188" height="283" viewBox="0 0 188 283" fill="none">
        <g filter="url(#filter0_f_161_2484)">
          <path d="M245.311 121.959C311.488 154.113 374.127 131.015 357.2 185.935C340.272 240.855 139.589 244.854 73.4121 212.701C7.23494 180.547 100.623 124.418 117.551 69.4977C134.479 14.5777 179.134 89.806 245.311 121.959Z" fill="url(#paint0_linear_161_2484)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_2484" x="0" y="0" width="410" height="283" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="25" result="effect1_foregroundBlur_161_2484"/>
          </filter>
          <linearGradient id="paint0_linear_161_2484" x1="44" y1="198.41" x2="170.928" y2="44.4428" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
      </svg>
</section>
<section class="stages" id="development">
    <div class="container">
        <div class="stages__first stage">
            <div class="stage__title-column">
                <span>/01</span>
                <h3>Development</h3>
            </div>
            <div class="stage__info-column">
                <p>
                    <span>Our community</span> offers development services tailored to various business domains, encompassing web, desktop, and mobile applications.
                </p> 
                <p>
                    We provide end-to-end services, starting from requirements analysis and design to development, testing, deployment, and support. You can focus on achieving results and let your company thrive without worrying about the complicated process of development.
                </p>
            </div>
            <div class="stage__name-column">
                <p>
                    All you need is here: <br>
                    
                </p> 
            </div>
            <div class="stage__content-column">
                <div class="way">
                    <div class="way-item active">
                        Frontend-
                        development
                    </div>
                    <div class="way-item">
                        Backend-
                        development
                    </div>
                    <div class="way-item">
                        IOS/Android- development
                    </div>
                    <div class="way-item">
                        DevOps
                    </div>
                </div>
                <div class="way-tabs">
                    <p class="way-tabs__item show">
                        Frontend development involves creating the visual and interactive elements of a website or application. Our developers enable you to attract clients by delivering a seamless and visually appealing experience, enhancing ease of navigation and interaction with the platform.

                    </p>
                    <p class="way-tabs__item">
                        Backend development involves building and maintaining the server, database, and application logic that power the frontend. This ensures that your clients would have an access to fast and reliable data, enabling smooth functionality and efficient processing of user requests.


                    </p>
                    <p class="way-tabs__item">
                        Mobile development is dedicated to creating applications specifically for mobile devices, offering users the convenience of accessing services and information on the go.

                    </p>
                    <p class="way-tabs__item">
                        DevOps practices can benefit you by enabling faster time to market, improved software quality, increased collaboration between your customers, enhanced stability and reliability that leads to potential cost savings of your firm.
                    </p>
                </div>
                <div class="accordions">
                    <div class="accordion">
                        <button class="accordion__control" aria-expanded="false">
                            <p>Frontend development</p>
                            <i>
                                <span><img src={% static "img/icons/arrow.svg"%}></span>
                            </i>
                        </button>
                        <div class="accordion__content" aria-hidden="true">
                            <p>
                                <span> Frontend development</span> involves creating the visual and interactive elements of a website or application. Our developers enable you to attract clients by delivering a seamless and visually appealing experience, enhancing ease of navigation and interaction with the platform.
                            </p>
                        </div>
                    </div>
                    <div class="accordion">
                        <button class="accordion__control" aria-expanded="false">
                            <p>Backend development</p>
                            <i>
                                <span><img src={% static "img/icons/arrow.svg"%}></span>
                            </i>
                        </button>
                        <div class="accordion__content" aria-hidden="true">
                            <p>
                                <span>Backend development</span> involves building and maintaining the server, database, and application logic that power the frontend. This ensures that your clients would have an access to fast and reliable data, enabling smooth functionality and efficient processing of user requests.
                            </p>
                        </div>
                    </div>
                    <div class="accordion">
                        <button class="accordion__control" aria-expanded="false">
                            <p>IOS/Android- development</p>
                            <i>
                                <span><img src={% static "img/icons/arrow.svg"%}></span>
                            </i>
                        </button>
                        <div class="accordion__content" aria-hidden="true">
                            <p>
                                <span>Mobile development</span> is dedicated to creating applications specifically for mobile devices, offering users the convenience of accessing services and information on the go.
                            </p>
                        </div>
                    </div>
                    <div class="accordion">
                        <button class="accordion__control" aria-expanded="false">
                            <p>DevOps</p>
                            <i>
                                <span><img src={% static "img/icons/arrow.svg"%}></span>
                            </i>
                        </button>
                        <div class="accordion__content" aria-hidden="true">
                            <p>
                                <span>DevOps practices</span> can benefit you by enabling faster time to market, improved software quality, increased collaboration between your customers, enhanced stability and reliability that leads to potential cost savings of your firm.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="stages__second stage"   id="intelligence">
            <div class="stage__title-column">
                <span>/02</span>
                <h3>Artificial
                    Intelligence</h3>
            </div>
            <div class="stage__info-column">
                <p>Artificial Intelligence is an excellent and efficient solution for rapidly evolving businesses.</p>

                <p>
                    <span>Elysium</span> possesses numerous capabilities that can aid you in various spheres of life and business.  The integration of AI has streamlined operations in ways that contribute to revenue growth and cost savings. Explore how AI can be beneficial for you.

                </p>
            </div>
            <div class="stage__name-column">
                <p>
                    Let us automate your work with:
                </p> 
            </div>
            <div class="stage__content-column">
                <div class="power">
                    <div class="power-item">
                        <img src={% static "img/icons/power/01.svg"%}>
                        <p class="power-item__title">Machine Learning</p>
                        <p class="power-item__text">
                            AI can be trained on vast amounts of data and utilize this knowledge to solve various types of tasks.</p>
                    </div>
                    <div class="power-item">
                        <img src={% static "img/icons/power/02.svg"%}>
                        <p class="power-item__title">Image Recognition</p>
                        <p class="power-item__text">AI can recognize images and objects in photos and videos, which can be beneficial in fields such as medicine, manufacturing, and security.</p>
                    </div>
                    <div class="power-item">
                        <img src={% static "img/icons/power/03.svg"%}>
                        <p class="power-item__title"> Business Process Automation</p>
                        <p class="power-item__text">AI can automate routine tasks, such as document processing, inventory management, and more.</p>
                    </div>
                    <div class="power-item">
                        <img src={% static "img/icons/power/04.svg"%}>
                        <p class="power-item__title">Big Data Analysis</p>
                        <p class="power-item__text">AI can analyze large volumes of data, extracting essential information that can help companies make more effective decisions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stages__three stage" id="management">
            <div class="stage__title-column">
                <span>/03</span>
                <h3>Finance Risk Management</h3>
            </div>
            <div class="stage__info-column">
                <p>If you are concerned about market fluctuations impacting your investment portfolio, our finance risk management approach might include diversifying your investments to spread risk or utilizing hedging techniques to protect against potential losses. This method offers you peace of mind and aids in reaching your financial objectives.</p>
                <p><span>Elysium</span> provides a complete finance risk management solution that assists in identifying and evaluating potential risks that may affect your financial stability. Through the implementation of customized strategies to alleviate these risks, we can help you prevent or reduce financial losses and safeguard your investments and assets.</p>
            </div>
            <div class="stage__name-column">
                <p>
                    We take responsibility:
                </p> 
            </div>
            <div class="stage__content-column">
                <div class="respons">
                    <div class="respons__item">
                        1. Pinpoint the issue
                    </div>
                    <div class="respons__item">
                        2. Troubleshooting
                    </div>
                    <div class="respons__item big">
                        3. Providing results that matter to you
                    </div>
                </div>
            </div>
            <p class="stage__title">
                Increase your results <br> <span> with our proven technologies </span>
            </p>
        </div>
        <div class="stages__four stage" id="analysis">
            <div class="stage__title-column">
                <span>/04</span>
                <h3>Marketing <br> Analysis</h3>
            </div>
            <div class="stage__info-column">
                <p>If you’re wondering how data analytics can improve your marketing strategy, you’ve come to the right place. Just as you wouldn't construct a house without architectural drawings, you wouldn't want to embark on a transformative marketing journey without understanding your starting point, your desired destination, what is already effective, and what is needed to bridge the gap between your current state and your goal.</p>
                <p>This planning session will help identify the necessary steps to achieve your goals and allow us to assess how we can support you by providing our experience.</p>
            </div>
            <div class="stage__name-column">
                <p>
                    We will help you to:
                </p> 
            </div>
            <div class="stage__content-column">
                <div class="steps">
                    <div class="steps-head">
                        <div class="step">
                            <p>Pick the Right Metrics</p>
                            <img src={% static "img/icons/steps/01.png"%}>
                        </div>
                        <div class="step">
                            <p>Segment Target Customers</p>
                            <img src={% static "img/icons/steps/02.png"%}>
                        </div>
                        <div class="step steps-head__middle">
                            <p>Analyze Competitors</p>
                            <img src={% static "img/icons/steps/03.png"%}>
                        </div>
                    </div>
                    <div class="steps-foot">
                        <div class="step">
                            <p>Boost<br> your campaign</p>
                            <img src={% static "img/icons/steps/05.png"%}>
                        </div>
                        <div class="step">
                            <p>Leverage A/B Testing</p>
                            <img src={% static "img/icons/steps/04.png"%}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stages__five stage" id="integration">
            <div class="stage__title-column">
                <span>/05</span>
                <h3>Products Optimization</h3>
            </div>
            <div class="stage__info-column">
                <p>Our team also assists you in products optimization to ensure smooth operation within the company, leading to enhanced efficiency and productivity, minimized errors, and improved work quality. Relax now; let the progress work on you. </p>
            </div>
            <div class="stage__name-column">
                <p>
                    Witness your forthcoming benefits:
                </p> 
            </div>
            <div class="stage__content-column">
                <div class="power">
                    <div class="power-item">
                        <img src={% static "img/icons/power/05.svg"%}>
                        <p class="power-item__title">Expenses reducing</p>
                        <p class="power-item__text">Our experience and expertise in this field enable us to make operations faster and more effectively.</p>
                    </div>
                    <div class="power-item">
                        <img src={% static "img/icons/power/06.svg"%}>
                        <p class="power-item__title">Improving systems capacity</p>
                        <p class="power-item__text">The optimization of products leads to the automation of routine tasks, ultimately boosting productivity and minimizing errors.</p>
                    </div>
                    <div class="power-item">
                        <img src={% static "img/icons/power/07.svg"%}>
                        <p class="power-item__title">Quality rising</p>
                        <p class="power-item__text">Optimized products generally operate with greater precision, leading to enhanced work quality and business outcomes.
                        </p>
                    </div>
                    <div class="power-item">
                        <img src={% static "img/icons/power/08.svg"%}>
                        <p class="power-item__title">Opportunities extension</p>
                        <p class="power-item__text">
                            Moreover, optimization aids companies in broadening the capabilities and functionality of their systems and applications, thereby strengthening their competitiveness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="phase">
    <div class="container">
        <h2>Milestones</h2>
        <ul class="phase__row">
            <li class="phase-item active">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/1.svg"%}>
                </div>
                <p>Pinpoint the issue</p>
            </li>
            <li class="phase-item">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/2.svg"%}>
                </div>
                <p>Analysis</p>
            </li>
            <li class="phase-item">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/3.svg"%}>
                </div>
                <p>Goal-setting with you</p>
            </li>
            <li class="phase-item">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/4.svg"%}>
                </div>
                <p>Development</p>
            </li>
            <li class="phase-item">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/5.svg"%}>
                </div>
                <p>Tests</p>
            </li>
            <li class="phase-item">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/6.svg"%}>
                </div>
                <p>Releasing</p>
            </li>
            <li class="phase-item">
                <div class="phase-item__image">
                    <img src={% static "img/icons/steps/7.svg"%}>
                </div>
                <p>Maintaining</p>
            </li>
        </ul>
        <div class="phase-content">
            <div class="phase-content__item show">
                <span>1. </span>
                <p>Identify or locate the specific problem or difficulty that needs to be addressed. Finding the exact cause or source of a problem.</p>
            </div>
            <div class="phase-content__item">
                <span>2. </span>
                <p>The process of examining, understanding, and interpreting information in order to gain insights, identify patterns, and make informed decisions.</p>
            </div>
            <div class="phase-content__item">
                <span>3. </span>
                <p>Refers to clearly stating the objectives or intentions behind a particular action, decision, or project.</p>
            </div>
            <div class="phase-content__item">
                <span>4.</span>
                <p>Phase where software is designed, coded and created.</p>
            </div>
            <div class="phase-content__item">
                <span>5. </span>
                <p>Software is tested rigorously to identify and fix any bugs or errors.</p>
            </div>
            <div class="phase-content__item">
                <span>6. </span>
                <p>Refers to the process of making the project's deliverables available to its intended users or customers. This involves deploying the software or system to a production environment, making it accessible for use by the end-users.</p>
            </div>
            <div class="phase-content__item">
                <span>7. </span>
                <p>Software maintenance may include activities such as adding new features or enhancements, optimizing performance, and providing technical support to final users.</p>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1496" height="625" viewBox="0 0 1496 625" fill="none">
        <g filter="url(#filter0_f_161_1234)">
          <path d="M993.63 200C1254.12 200 1296 206.773 1296 267.266C1296 327.759 613.178 425 352.691 425C92.2033 425 215.074 344.089 352.691 267.266C504.317 233.621 733.142 200 993.63 200Z" fill="url(#paint0_linear_161_1234)"/>
        </g>
        <defs>
          <filter id="filter0_f_161_1234" x="0" y="0" width="1496" height="625" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_161_1234"/>
          </filter>
          <linearGradient id="paint0_linear_161_1234" x1="236.919" y1="425" x2="253.978" y2="199.156" gradientUnits="userSpaceOnUse">
            <stop stop-color="#58FFF8"/>
            <stop offset="0.531732" stop-color="#7AAEFC"/>
            <stop offset="1" stop-color="#9867FF"/>
          </linearGradient>
        </defs>
      </svg>
</section>
<section class="form-one" style="margin-top:0px;">
    <div class="form-one__row container">
        <div class="information-column">
            <div class="information-column__header">
                <h2 id="info__header">Let us help you, <br>
                    tell your worries?</h2>
                <p id="info__paragraph">Sign up for a FREE consultation with IT Business Expert and receive Web Site Optimization Instructions powered by our BEST specialists.</p>
                <p>And if we don't find a solution - you owe us nothing</p>
            </div>
            <div class="information-column__footer">
                <div class="social">
                    <a href="https://www.instagram.com/nnhufg?igsh=c2tiMDVtaHJ6d3My&utm_source=qr"> <img src={% static "img/icons/Instagram.svg"%} alt="#"> </a>
                    <a href="https://t.me/ArtemSheptalin"> <img src={% static "img/icons/Telegram.svg"%} alt="#"> </a>
                </div>
            </div>
        </div>
        <form class="form-column" method='POST' id="services__form">
            {% csrf_token %} 
            {{ form.first_name | add_class:"form-column" }}
            <div id="first_name_error"></div>
            {{ form.email | add_class:"form-column" }}
            <div id="email_error"></div>
            {{ form.message | add_class:"form-column" }}
            <div id="message_error"></div>
            <div class="form-column__footer">
                <button class="g-anim-button" type="submit" id="form_btn">
                    <span>Share my anxiety</span>
                    <img src={% static "img/icons/arrow-right.svg"%}>
                </button>
                <p>By clicking the button, you agree
                    <a href="#">with the privacy policy of Elysium.</a></p>
            </div>
        </form>
    </div>
    
</section>
<script src={% static "js/services.js"%}></script>
{% endblock %}